<script>
  $(window, document, undefined).ready(function() {

    $('input').blur(function() {
      var $this = $(this);
      if ($this.val())
        $this.addClass('used');
      else
        $this.removeClass('used');
    });

    var $ripples = $('.ripples');

    $ripples.on('click.Ripples', function(e) {

      var $this = $(this);
      var $offset = $this.parent().offset();
      var $circle = $this.find('.ripplesCircle');

      var x = e.pageX - $offset.left;
      var y = e.pageY - $offset.top;

      $circle.css({
        top: y + 'px',
        left: x + 'px'
      });

      $this.addClass('is-active');

    });

    $ripples.on('animationend webkitAnimationEnd mozAnimationEnd oanimationend MSAnimationEnd', function(e) {
    	$(this).removeClass('is-active');
    });

  });
</script>

<div class="main-container" dir="rtl">
  <br/><br/>
  <div class="row">
    <div class="col-sm-1">
      &nbsp;
    </div>
    <div class="col-sm-10" align="center">
      <div class="header">
        <img src="/assets/Header_Logo.png" width="200" height="60" alt="">
      </div>
    </div>
    <div class="col-sm-1">
      &nbsp;
    </div>
  </div>
  <div class="row">
    <form class="ba-auth-form"
          (ngSubmit)="login(formGroup.value)"
          #activateForm
          [formGroup]="formGroup"
          (keypress.enter)="login(formGroup.value)">
      <div class="group">
        <input id="email" name="email" type="text" formControlName="email"
               class="form-control"
               [ngClass]="{'ba-auth-has-error': emailError}"
               placeholder="דואר אלקטרוני">
        <!--Error message-->
        <!-- <div class="err-msg">
          <section>Please insert a valid email</section>
        </div> -->
      </div>
      <div class="group">
        <input id="password"
               name="password"
               type="password"
               formControlName="password"
               class="form-control"
               placeholder="סיסמא"
        >
      </div>

      <button class="button buttonBlue" type="submit" [disabled]="formGroup.invalid">
        <section *ngIf="!isPending">
          <div class="ripples buttonRipples">
            כניסה
            <span class="ripplesCircle"></span>
          </div>
        </section>
      </button>

    </form>
  </div>
</div>
