/* Coolors Exported Palette - coolors.co/ffffff-5a4b41-e15a97-add9f4-ffaff0 */

/* HSL */
$base-light: hsla(0%, 0%, 100%, 1);
$base-dark: hsla(24%, 16%, 30%, 1);
$primary: hsla(333%, 69%, 62%, 1);
$scondary: hsla(203%, 76%, 82%, 1);
$filling: hsla(311%, 100%, 84%, 1);

/* RGB */
$base-light: rgba(255, 255, 255, 1);
$base-dark: rgba(90, 75, 65, 1);
$primary: rgba(225, 90, 151, 1);
$scondary: rgba(173, 217, 244, 1);
$filling: rgba(255, 175, 240, 1);
