<div class="services-container">
  <div class="row">
    <div class="col-sm-1">
      &nbsp;
    </div>
    <div class="col-sm-10" align="center">
      <div class="header">
        <h2>
          יומן עסק
        </h2>
      </div>
    </div>
    <div class="col-sm-1">
      &nbsp;
    </div>
  </div>
<br>
  <div class="row">
    <div class="col-sm-1">
      &nbsp;
    </div>
    <div class="col-sm-10">
      <mwl-demo-utils-calendar-header
        [(view)]="view"
        [(viewDate)]="viewDate">
      </mwl-demo-utils-calendar-header>
    </div>
    <div class="col-sm-1">
      &nbsp;
    </div>
  </div>
  <div class="row">
    <div class="col-sm-1">
      &nbsp;
    </div>
    <div class="col-sm-10">
      <div [ngSwitch]="view">
        <mwl-calendar-month-view
          *ngSwitchCase="'month'"
          [viewDate]="viewDate"
          [events]="events">
        </mwl-calendar-month-view>
        <mwl-calendar-week-view
          *ngSwitchCase="'week'"
          [viewDate]="viewDate"
          [events]="events">
        </mwl-calendar-week-view>
        <mwl-calendar-day-view
          *ngSwitchCase="'day'"
          [viewDate]="viewDate"
          [events]="events">
        </mwl-calendar-day-view>
      </div>
    </div>
    <div class="col-sm-1">
      &nbsp;
    </div>
  </div>
