<div class="seetingd-container">
  <!--Brand Settings-->
  <div class="brand-form">
    <form class="ba-auth-form"
          (ngSubmit)="onBrandFormSubmit()"
          #activateForm
          [formGroup]="formGroup">
      <!--Input fields-->
      <div class="fields-container">
        <!--Explanation text-->
        <label>
          Settings Page
        </label>

        <!--Title-->
        <input id="title"
               name="title"
               type="text"
               formControlName="title"
               class="form-control"
               placeholder="כותרת"
               [(ngModel)]="selectedBrand.title">

        <!--&lt;!&ndash;Error message&ndash;&gt;-->
        <!--<div class="err-msg"-->
        <!--[style.visibility]="submitErr ? 'visible' : 'hidden'"-->
        <!--[@enterAnimation]="submitErr">-->
        <!--<section>{{submitErrTxt}}</section>-->
        <!--</div>-->

        <!--About-->
        <textarea id="about"
                  name="about"
                  type="text"
                  formControlName="about"
                  class="form-control"
                  placeholder="אודות"
                  [(ngModel)]="selectedBrand.about"></textarea>
        <!--&lt;!&ndash;Error message&ndash;&gt;-->
        <!--<div class="err-msg"-->
        <!--[style.visibility]="emailError ? 'visible' : 'hidden'"-->
        <!--[@enterAnimation]="emailError">-->
        <!--<section>Please insert a valid email</section>-->
        <!--</div>-->

        <!--Address-->
        <input id="address"
               name="address"
               type="text"
               formControlName="address"
               class="form-control"
               placeholder="כתובת"
               [(ngModel)]="selectedBrand.address"
        >

        <!--&lt;!&ndash;Error message&ndash;&gt;-->
        <!--<div class="err-msg"-->
        <!--[style.visibility]="submitErr ? 'visible' : 'hidden'"-->
        <!--[@enterAnimation]="submitErr">-->
        <!--<section>{{submitErrTxt}}</section>-->
        <!--</div>-->

        <!--Phone-->
        <input id="phone"
               name="phone"
               type="text"
               formControlName="phone"
               class="form-control"
               placeholder="מספר טלפון"
               [(ngModel)]="selectedBrand.phone_number"
        >

        <!--&lt;!&ndash;Error message&ndash;&gt;-->
        <!--<div class="err-msg"-->
        <!--[style.visibility]="submitErr ? 'visible' : 'hidden'"-->
        <!--[@enterAnimation]="submitErr">-->
        <!--<section>{{submitErrTxt}}</section>-->
        <!--</div>-->

        <!--FacbookUrl-->
        <input id="facebookUrl"
               name="facebookUrl"
               type="text"
               formControlName="facebookUrl"
               class="form-control"
               placeholder="פייסבוק"
               [(ngModel)]="selectedBrand.facebook_url"
        >

        <!--&lt;!&ndash;Error message&ndash;&gt;-->
        <!--<div class="err-msg"-->
        <!--[style.visibility]="submitErr ? 'visible' : 'hidden'"-->
        <!--[@enterAnimation]="submitErr">-->
        <!--<section>{{submitErrTxt}}</section>-->
        <!--</div>-->

        <!--InstegramUrl-->
        <input id="insergramUrl"
               name="insergramUrl"
               type="text"
               formControlName="instergramUrl"
               class="form-control"
               placeholder=" כתובת אינסטגרם"
               [(ngModel)]="selectedBrand.instagram_url"
        >

        <!--&lt;!&ndash;Error message&ndash;&gt;-->
        <!--<div class="err-msg"-->
        <!--[style.visibility]="submitErr ? 'visible' : 'hidden'"-->
        <!--[@enterAnimation]="submitErr">-->
        <!--<section>{{submitErrTxt}}</section>-->
        <!--</div>-->

        <!--LogoUrl-->
        <input id="logoUrl"
               name="logoUrl"
               type="text"
               formControlName="logoUrl"
               class="form-control"
               placeholder="תמונת לוגו"
               [(ngModel)]="selectedBrand.logo_url">

        <!--&lt;!&ndash;Error message&ndash;&gt;-->
        <!--<div class="err-msg"-->
        <!--[style.visibility]="submitErr ? 'visible' : 'hidden'"-->
        <!--[@enterAnimation]="submitErr">-->
        <!--<section>{{submitErrTxt}}</section>-->
        <!--</div>-->

        <!--CoverUrl-->
        <input id="coverUrl"
               name="coverUrl"
               type="text"
               formControlName="coverUrl"
               class="form-control"
               placeholder="תמונת רקע"
               [(ngModel)]="selectedBrand.cover_url">

        <!--&lt;!&ndash;Error message&ndash;&gt;-->
        <!--<div class="err-msg"-->
        <!--[style.visibility]="submitErr ? 'visible' : 'hidden'"-->
        <!--[@enterAnimation]="submitErr">-->
        <!--<section>{{submitErrTxt}}</section>-->
        <!--</div>-->

      </div>

      <!--Submit-->
      <button class="btn btn-info" (submit)="onBrandFormSubmit()">Save Settings</button>
    </form>
    <!--Design Form-->
    <div class="design">
      <!--Brand Settings-->
      <form class="ba-auth-form"
            (ngSubmit)="onDesignFormSubmit()"
            #activateForm
            [formGroup]="designFormGroup">
        <!--Input fields-->
        <div class="fields-container">
          <!--Explanation text-->
          <label>
            Design Page
          </label>

          <!--Primary Color-->
          <input id="primary"
                 name="primary"
                 type="text"
                 formControlName="primary"
                 class="form-control"
                 placeholder="צבע אחד"
                 [(ngModel)]="selectedBrand.design.primary_color">

          <!--&lt;!&ndash;Error message&ndash;&gt;-->
          <!--<div class="err-msg"-->
          <!--[style.visibility]="submitErr ? 'visible' : 'hidden'"-->
          <!--[@enterAnimation]="submitErr">-->
          <!--<section>{{submitErrTxt}}</section>-->
          <!--</div>-->

          <!--Secondary Color-->
          <textarea id="secondary"
                    name="about"
                    type="text"
                    formControlName="secondary"
                    class="form-control"
                    placeholder="צבע שני"
                    [(ngModel)]="selectedBrand.design.secondary_color"></textarea>
          <!--&lt;!&ndash;Error message&ndash;&gt;-->
          <!--<div class="err-msg"-->
          <!--[style.visibility]="emailError ? 'visible' : 'hidden'"-->
          <!--[@enterAnimation]="emailError">-->
          <!--<section>Please insert a valid email</section>-->
          <!--</div>-->

          <!--Address-->
          <input id="baseColor"
                 name="address"
                 type="text"
                 formControlName="baseColor"
                 class="form-control"
                 placeholder="צבע בסיס"
                 [(ngModel)]="selectedBrand.design.base_color"
          >

          <!--&lt;!&ndash;Error message&ndash;&gt;-->
          <!--<div class="err-msg"-->
          <!--[style.visibility]="submitErr ? 'visible' : 'hidden'"-->
          <!--[@enterAnimation]="submitErr">-->
          <!--<section>{{submitErrTxt}}</section>-->
          <!--</div>-->

          <!--Button Text-->
          <input id="btnText"
                 name="btnText"
                 type="text"
                 formControlName="btnText"
                 class="form-control"
                 placeholder="טקסט כפתור ראשי"
                 [(ngModel)]="selectedBrand.design.cta_text"
          >

          <!--&lt;!&ndash;Error message&ndash;&gt;-->
          <!--<div class="err-msg"-->
          <!--[style.visibility]="submitErr ? 'visible' : 'hidden'"-->
          <!--[@enterAnimation]="submitErr">-->
          <!--<section>{{submitErrTxt}}</section>-->
          <!--</div>-->

          <!--Todo make as dropDown -->
          <!--Prime service id -->
          <input id="primeService"
                 name="primeService"
                 type="text"
                 formControlName="primeService"
                 class="form-control"
                 placeholder="פייסבוק"
                 [(ngModel)]="selectedBrand.design.prime_service_id"
          >

          <!--&lt;!&ndash;Error message&ndash;&gt;-->
          <!--<div class="err-msg"-->
          <!--[style.visibility]="submitErr ? 'visible' : 'hidden'"-->
          <!--[@enterAnimation]="submitErr">-->
          <!--<section>{{submitErrTxt}}</section>-->
          <!--</div>-->
        </div>

        <!--Submit-->
        <button class="btn btn-info" (submit)="onDesignFormSubmit()">Save Design</button>
      </form>
    </div>
  </div>


</div>
